absl-py==0.7.1
aioopenssl==0.4.1
aiosasl==0.4.0
aioxmpp==0.10.5
asn1crypto==0.24.0
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.7.1
bleach==3.1.0
blinker==1.4
bs4==0.0.1
CacheControl==0.12.5
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
docutils==0.14
emoji==0.5.2
entrypoints==0.3
firebase-admin==3.2.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gast==0.2.2
google-api-core==1.14.3
google-api-python-client==1.7.11
google-auth==1.7.2
google-auth-httplib2==0.0.3
google-cloud-core==1.1.0
google-cloud-firestore==1.6.0
google-cloud-storage==1.23.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
grpcio==1.21.1
gunicorn==19.9.0
h5py==2.9.0
html-testRunner==1.2
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
inflection==0.3.1
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.3
joblib==1.2.0
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==0.35.6
jupyterlab-server==0.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.7
kivy.deps.glew==0.1.10
kivy.deps.sdl2==0.1.18
kiwisolver==1.1.0
lxml==4.3.4
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
mock==3.0.5
more-itertools==5.0.0
msgpack==0.6.2
multidict==4.7.1
nbconvert==5.5.0
nbformat==4.4.0
ndg-httpsclient==0.5.1
notebook==5.7.8
numpy==1.16.3
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pickleshare==0.7.5
Pillow==6.0.0
plotly==3.10.0
pluggy==0.9.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.8.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.7
PyAudio==0.2.11
PyAutoGUI==0.9.45
pycparser==2.19
pyfcm==1.4.6
pygame==1.9.5
PyGetWindow==0.0.6
Pygments==2.3.1
PyMsgBox==1.0.7
pyOpenSSL==19.0.0
pyparsing==2.4.0
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.15.2
PyScreeze==0.1.22
pytest==4.4.1
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.1
pywin32==224
pywinpty==0.5.5
pyzmq==18.0.1
Quandl==3.4.8
requests==2.22.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.21.2
scipy==1.3.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.1
SQLAlchemy==1.3.10
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
tzlocal==1.5.1
uritemplate==3.0.0
urllib3==1.24.2
virtualenv==16.6.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
WTForms==2.2.1
xlrd==1.2.0
